html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}


article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

a img {
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
  font-size: 10px;
}

body {
  line-height: 1.6;
  -ms-overflow-x: hidden;
      overflow-x: hidden;
}

.visuelly-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow:hidden;
}

.page-wrapper {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  min-height: inherit;
  -ms-overflow: hidden;
      overflow: hidden;
}


h1, h2, h3, h4 {
  font-family: 'Lato-Regular';
  font-weight: bold;
}

p, a, span {
  font-family: 'Lato-Regular';
}



h2 {
  font-size: 3rem;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p, span {
  font-size: 14px;
}

@include max_508 {
  
  h2 {
    font-size: 2.2rem;
  }

}