@import "grid/foundation";
@import "mixins/base-mixins";
@import "mixins/media-mixins";
// @import "sprites/png-sprite"; 

.fil {
	height: 60px;
	background-color: #FFF;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: center;
	        align-items: center;
	
//left

	&__words a {
		padding: 1em;
		font-size: 14px;
		color: #96A6A7;
	}

	&__words a:hover {
		color: #E94E38;
	}

	&__words a.filter__words--active {
		color: #E94E38;
	}


// center
	
	&__map-select {
		display: flex;
		-webkit-flex-grow: 1;
	        	flex-grow: 1;
		-webkit-justify-content: center;
		        justify-content: center;
	}
	

	&__button {
		line-height: 30px;
		font-size: 12px;
		padding-left: 7px;
		width: 80px;
		height: 30px;
		display: inline-block;
	}

	&__map {
		border: 1px solid #96a6a7;
		width: 110px;
		height: 30px;
		margin: 0 1em;
		border-radius: 30px;
		position: relative;
		display: inline-block;
	}

	&__map svg{
		height: 10px;
		position: absolute;
		right: 14px;
		top: 11px;
		width: 17px;
			
		}

// right
	&__list {
		display: flex;
		-webkit-align-items: center;
		        align-items: center;
		-webkit-flex-grow: 1;
	        	flex-grow: 1;
		min-width: 310px;
		max-width: 400px;
	}

	&__text {
		padding-right: 5px;
	}

	&__icon {
		display: inline-block;
		padding: 5px;
	}
	
	&__icon svg {
		width: 40px;
		height: 40px;
		-webkit-border-radius: 50%;
		        border-radius: 50%
	}

	&__icon.home-button svg {
		background-color: #1baf5d;
	}
	

	&__icon.people-button svg {
		background-color: #b6c0c1;
	}
	

	&__icon.education-button svg {
		background-color: #b6c0c1;
	}
	

	&__icon.musik-button svg {
		background-color: #f19e1f;
	}


	&__icon.train-button svg {
		background-color: #88499c;
	}

}

/* DEMO 3 */

.wrapper-dropdown-3_new {
    /* Size and position */
    position: relative;
    width: 100px;
	height: 10px;
	margin: 0 1em;
    padding: 10px;
    display: inline-block;

    /* Styles */
    background: rgba(244, 244, 244, 0.1) none repeat scroll 0 0;
    border-radius: 30px;
    border: 1px solid #96a6a7;
    cursor: pointer;
    outline: none;
    line-height: 10px;

    /* Font settings */
    color: #111;
    text-align: center;
}


 .wrapper-dropdown-3_new:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
} 

.wrapper-dropdown-3_new .dropdown {
  /* Size & position */
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    z-index: 1000;

    /* Styles */
    background: rgba(244, 244, 244, 0.9) none repeat scroll 0 0;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
}


.wrapper-dropdown-3_new .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #566375;
    font-size: 13px;
    border-bottom: 1px solid #566375;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3_new .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3_new .dropdown li:first-of-type a {
    border-radius: 30px 30px 0 0;
}

.wrapper-dropdown-3_new .dropdown li:last-of-type a {
    border-radius: 0 0 30px 30px;
    border: none;
}

/* Hover state */

.wrapper-dropdown-3_new .dropdown li:hover a {
    background: #f3f8f8;
}



/* Active state */

.wrapper-dropdown-3_new.active .dropdown {
    opacity: 1;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3_new .dropdown,
.no-pointerevents .wrapper-dropdown-3_new .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3_new.active .dropdown,
.no-pointerevents .wrapper-dropdown-3_new.active .dropdown {
    display: block;
}


@include max_1100 {

	.fil {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	 	-webkit-align-items: center;
	 	        align-items: center;
	    height: 150px;
	    
		&__words {
			margin: 1em 0;
		}

	  
	  	&__map-select {
			margin: 0 0 2em 0;
	  
	  	}

	  	.fil__list {
		    margin: -33px 35px 0 0;;
		}

	  	&__text {
	  		margin: 0 auto;
	  	}
	        	
	}

}

@include max_508 {

	.fil {
	    
		&__words {
			margin: 2em 0;
		}

		&__words a{
			padding: .4em;
		}


	  
	  	&__map-select {
			margin: 0 0 2em 0;
	  
	  	}

	  	.fil__list {
		    margin: 0 35px 0 0;
		}

		.fil__icon {
		    padding: 3px;
		}

	  	&__text {
	  		padding: 0 0 0 30px;
	  	} 
	        	
	}

}

@include max_360 {
	.fil {
		.fil__list {
			margin: 0 35px 0 0;
		}
	}
	
}