@import "grid/foundation";
@import "mixins/base-mixins";
@import "mixins/media-mixins";
// @import "sprites/png-sprite"; 


/* loader */
/* .loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 25% auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.pre-loader {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
body.pre-loaded .pre-loader {
    transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);

} */

/* end loader */



@include max_1100 {
	.top-bar {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	   
	    
	    &-login-wr {
	    	width: 100%;
	    }

	    &__login {
	    	max-width: 100%;
    		min-width: 100%;
	    }

	    &__logo {
	   		padding: 2em;
	   	}

	   	&__search {
	   		height: 70px;
	   	}

	   	&__search input {
	   		margin: -16px 0 0 85px;
	   	}

	   	&__search svg {
		    margin: -32px 6px;
		}
	}

	.nav {
	    width: 100%;

	    
		&__list {
		    display: -webkit-flex;
		    display: -moz-flex;
		    display: -ms-flex;
		    display: -o-flex;
		    display: flex;
		    -webkit-flex-wrap: wrap;
		        -ms-flex-wrap: wrap;
		            flex-wrap: wrap;
		    -webkit-justify-content: space-around;
		    	    justify-content: space-around;
		}

		&__item {
	
			-webkit-flex-grow: 1;
			        flex-grow: 1;
			min-width: 52px;
    		text-align: center;
		}

		&__item--active{
			color: #E94E38;
		}

		&__item:hover{
			color: #E94E38;
			background-color: #E2DEE0;
		}
	}

}

@include max_508 {
	.top-bar {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	   	
	   	&__logo {
	   		padding: 2em;
	   	}
	    
	    &-login-wr {
	    	width: 100%;
	    	margin-top: 70px;
	    	-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	    }

	    &__login {
	    	max-width: 100%;
    		min-width: 100%;
	    }

	    &__search input {
	   		margin: 0;
	   	}

	   	&__search svg {
		   margin: -7px 0;
		}
	} 

	.nav {
	    width: 100%;

	    
		&__list {
		    display: -webkit-flex;
		    display: -moz-flex;
		    display: -ms-flex;
		    display: -o-flex;
		    display: flex;
		    -webkit-flex-wrap: wrap;
		        -ms-flex-wrap: wrap;
		            flex-wrap: wrap;
		    -webkit-justify-content: space-around;
		    	    justify-content: space-around;
		}

		&__item {
	
			-webkit-flex-grow: 1;
			        flex-grow: 1;
			min-width: 52px;
    		text-align: center;
		}
	}

}