@import "grid/foundation";
@import "mixins/base-mixins";
@import "mixins/media-mixins";
// @import "sprites/png-sprite"; 



.top-bar {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	padding: 0;
	
	&__logo {
		-webkit-flex-grow: 1;
		        flex-grow: 1;
	     padding-left: 2em;
	}
	
	&__search {
		 background-color: #e2dee0;
		 
	}

	&__search svg{
		width: 27px;
		height: 27px;
		padding: 0 2em;
		margin: -7px 0;
		cursor: pointer;
	}

	&__search-svg {
		fill: #fff;
		
	}

	&-login-wr {
		display: -webkit-flex;
	    display: -moz-flex;
	    display: -ms-flex;
	    display: -o-flex;
	    display: flex;
	}

	&__search input {
		width: 0;
		height: 70px;
		padding: 0;
		margin: 0;
		border: none;
		background-color: #f4f0f2;
		
	}

	&__login {
		background-color: #e94e38;
		height: 70px;
		max-width: 250px;
    	min-width: 120px;
		-webkit-align-self: flex-end;
		        align-self: flex-end; 
		-webkit-flex-grow: 1;
		        flex-grow: 1;
		line-height: 70px;
		padding-left: 15px;
	}

	&__login svg{
		height: 18px;
		width: 30px;
		margin: -1px;
	}

	&__login span{
		font-weight: bold;
		color: #FFF;
		cursor: pointer;
	}

	&__login span:hover{
		color: #E2DEE0;
	}

}


.nav {
	-webkit-flex-grow: 1;
		    flex-grow: 1;

	&__list {
		height: 70px;
		line-height: 41px;
		display: inline-block;
	}

	&__item {
		display: inline-block;
		padding: 1em;
		font-size: 14px;
	}

}

@include max_1100 {
	.top-bar {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	   
	    
	    &-login-wr {
	    	width: 100%;
	    }

	    &__login {
	    	max-width: 100%;
    		min-width: 100%;
	    }

	    &__logo {
	   		padding: 2em;
	   	}

	   	&__search {
	   		height: 70px;
	   	}

	   	&__search input {
	   		margin: -16px 0 0 85px;
	   	}

	   	&__search svg {
		    margin: -32px 6px;
		}
	}

	.nav {
	    width: 100%;

	    
		&__list {
		    display: -webkit-flex;
		    display: -moz-flex;
		    display: -ms-flex;
		    display: -o-flex;
		    display: flex;
		    -webkit-flex-wrap: wrap;
		        -ms-flex-wrap: wrap;
		            flex-wrap: wrap;
		    -webkit-justify-content: space-around;
		    	    justify-content: space-around;
		}

		&__item {
	
			-webkit-flex-grow: 1;
			        flex-grow: 1;
			min-width: 52px;
    		text-align: center;
		}

		&__item--active{
			color: #E94E38;
		}

		&__item:hover{
			color: #E94E38;
			background-color: #E2DEE0;
		}
	}

}

@include max_508 {
	.top-bar {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	   	
	   	&__logo {
	   		padding: 2em;
	   	}
	    
	    &-login-wr {
	    	width: 100%;
	    	margin-top: 70px;
	    	-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	    }

	    &__login {
	    	max-width: 100%;
    		min-width: 100%;
	    }

	    &__search input {
	   		margin: 0;
	   	}

	   	&__search svg {
		   margin: -7px 0;
		}
	} 

	.nav {
	    width: 100%;

	    
		&__list {
		    display: -webkit-flex;
		    display: -moz-flex;
		    display: -ms-flex;
		    display: -o-flex;
		    display: flex;
		    -webkit-flex-wrap: wrap;
		        -ms-flex-wrap: wrap;
		            flex-wrap: wrap;
		    -webkit-justify-content: space-around;
		    	    justify-content: space-around;
		}

		&__item {
	
			-webkit-flex-grow: 1;
			        flex-grow: 1;
			min-width: 52px;
    		text-align: center;
		}
	}

}