@import "grid/foundation";
@import "mixins/base-mixins";
@import "mixins/media-mixins";
// @import "sprites/png-sprite";

.offer {
	background-color: #F3F1F2;
	
	&__title {
		
		h3 {
			text-align: center;
			padding: 3em 0 .2em 0;
			color: #566375;
		}

		p {
			text-align: center;
			color: #B2BCBD;
		}
	}

	&__icons {
		text-align: center;
		margin: 4em 0 2em 0;
		
		li {
			display: inline;
		}
	}

	&__icon svg{
		width: 100px;
		height: 100px;
	    border-radius: 50%;
	    cursor: pointer;
	    padding: 0;
	    margin: 0 20px;
	}

	&__icon .fixed{
		border: 2px solid #1baf5d;
	}

/* 	&__icon-home,
&__icon-people,
&__icon-education,
&__icon-musik,
&__icon-train {
	fill:#9dacad;	
}
 */


	&__tab-home h3,
	&__tab-people h3,
	&__tab-education h3,
	&__tab-musik h3,
	&__tab-train h3 {
		text-align: center;
		color: #1db05e;
		font-size: 25px;
		margin-bottom: 1em;
	}

	&__tab-text {
		display: flex;
		padding-bottom: 6em;
	}

	&__tab-text	p:first-child {
		padding: 0 2em 0 10em;
		text-align: left;
	}

	&__tab-text	p:last-child {
		padding: 0 10em 0 2em;
		text-align: left;
	}
	
}

 
 

@include max_900 {
	.offer {
	
		&__tab-text	p:first-child {
			padding: 0 2em 0 4em;
		}

		&__tab-text	p:last-child {
			padding: 0 4em 0 2em;
		}

		&__icon svg {
		    margin: 0 10px;
		}
	}

}

@include max_600 {
	.offer {
	
		&__icon svg{
			width: 70px;
			height: 70px;
		}

		&__tab-text {
			-webkit-flex-wrap: wrap;
			    -ms-flex-wrap: wrap;
			        flex-wrap: wrap;
		}

		&__tab-text	p:first-child {
			padding: 0 2em 1em 2em;
		}

		&__tab-text	p:last-child {
			padding: 1em 2em 1em 2em;
		}

		&__tab-home h3,
		&__tab-people h3,
		&__tab-education h3,
		&__tab-musik h3,
		&__tab-train h3 {
			margin-top: 1em;
		}

		&__icon svg {
		    margin: 0 5px;
		}

	}

	.offer-i {
		width: 70px;
		height: 70px;
	}
}

@include max_508 {
	.offer {

		&__title h3 {
			font-size: 17px;
		}
	
		&__icon svg{
			width: 45px;
			height: 45px;
			padding: 0 0.4em;
		}

		&__tab-home h3,
		&__tab-people h3,
		&__tab-education h3,
		&__tab-musik h3,
		&__tab-train h3 {
			margin-top: 1em;
		}


		&__tab-text {
			-webkit-flex-wrap: wrap;
			    -ms-flex-wrap: wrap;
			        flex-wrap: wrap;
		}

		&__tab-text	p:first-child {
			padding: 0 2em 1em 2em;
		}

		&__tab-text	p:last-child {
			padding: 1em 2em 1em 2em;
		}
	}

	.offer-i {
		width: 45px;
		height: 45px;
	}
}

/* @include max_600 {
	.offer {
		background-color: #F3F1F2;
	
		&__title {
			
			h3 {
				text-align: center;
				padding: 3em 0 .2em 0;
				color: #566375;
			}

			p {
				text-align: center;
				color: #B2BCBD;
			}
		}

		&__icons {
			text-align: center;
			margin: 4em 0 2em 0;
			
			li {
				display: inline;
			}
		}

		&__icon svg{
			width: 80px;
			height: 80px;
			padding: 0 1em;

		}
	}
} */
