<header class="page-wrapper top-bar">
	<div class="top-bar__logo">
		<img src="../images/desktop/logo.png" alt="logo">
	</div>
	<nav class="top-bar__nav nav">
		<ul class="nav__list">
			<li class="nav__item"><a href="#">REALITY</a></li>
			<li class="nav__item"><a href="#">LIVING</a></li>
			<li class="nav__item"><a href="#">EDUCATION</a></li>
			<li class="nav__item"><a href="#">ENTERTAINMENT</a></li>
			<li class="nav__item"><a href="#">MIBILITY</a></li>
		</ul>
	</nav>
	
	<div class="top-bar-login-wr">
		<div class="top-bar__search">
				<svg>
					<use xlink:href="#svg-icon-search" width="27px" height="27px" class="top-bar__search-svg"></use>
				</svg>
			<input  name="s" placeholder="SEARCH">
		</div>
		<div class="top-bar__login">
			<svg>
				<use xlink:href="#svg-icon-login" width="30px" height="21px" class="top-bar__search-svg"></use>
			</svg>
			<span>LOGIN</span> 
		</div>
	</div>
</header>